<form id="filterForm">
    <input type="text" id="filterLieuDepart" placeholder="Lieu de départ">
    <input type="text" id="filterLieuArrivee" placeholder="Lieu d'arrivée">
    <input type="date" id="filterDateDepart" placeholder="Date de départ">
    <input type="date" id="filterDateArrivee" placeholder="Date d'arrivée">
    <input type="text" id="filterTypeCargaison" placeholder="Type de cargaison">
    <button type="button" id="filterButton">Filtrer</button>
</form>

<div id="cardContainer"></div>
<table id="cargaisonTable">
    <tbody id="tbody"></tbody>
</table>
